{
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "atom": true
  },
  "settings": {
    "import/core-modules": [
      "electron",
      "atom",
      "remote"
    ]
  }
}
